<h1>Enter Author Information</h1>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="mb-3 row">
      <label for="fname" class="col-sm-3 col-form-label">First Name</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="staticEmail"
          placeholder="first name"
          [(ngModel)]="author.firstName"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="lname" class="col-sm-3 col-form-label">Last Name</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="lname"
          placeholder="last name"
          [(ngModel)]="author.lastName"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="city" class="col-sm-3 col-form-label">City</label>
      <div class="col-sm-9">
        <select class="form-control" id="city" [(ngModel)]="selectedCity">
          <option value="" disabled selected>select city...</option>
          <option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-3 col-form-label"></div>
      <div class="col-sm-9">
        <button class="btn btn-outline-primary me-3" (click)="addAuthor()">
          Add
        </button>
        <button class="btn btn-outline-primary me-3" (click)="updateAuthor()">
          Update
        </button>
        <button class="btn btn-danger" (click)="clearForm()">Clear</button>
      </div>
    </div>
  </div>
</div>

<h2>Authors</h2>
<table class="table table-hover mt-3">
  <thead class="table-primary">
    <tr>
      <th class="p-4">AuthorId</th>
      <th class="p-4">Firstname</th>
      <th class="p-4">Lastname</th>
      <th class="p-4">City</th>
      <th class="p-4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of authors">
      <td class="p-3">{{ item.authorId }}</td>
      <td class="p-3">{{ item.firstName }}</td>
      <td class="p-3">{{ item.lastName }}</td>
      <td class="p-3">{{ item.city }}</td>
      <td class="p-3">
        <a class="me-3" (click)="getAuthor(item)"
          ><i class="far fa-edit"></i
        ></a>
        <a class="text-danger" (click)="deleteAuthor(item.authorId)"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
